/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #35424a;
    color: #ffffff;
    padding: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

/* Estilos para la navegación */
nav {
    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.menu > li > a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
}

.menu > li:hover > a {
    background: #4CAF50;
    color: #ffffff;
    border-radius: 5px;
}

/* Estilos para el menú desplegable */
.dropdown {
    display: none; /* Se oculta por defecto */
    position: absolute;
    background: #4cafaa;
    min-width: 150px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown li:hover {
    background-color: #4CAF50;
}

.menu > li:hover .dropdown {
    display: block; /* Muestra el submenú al pasar el ratón */
}

/* Estilos para pantallas móviles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        display: none; /* Ocultamos el menú principal en dispositivos móviles */
        width: 100%;
        background-color: #35424a;
    }

    .menu > li {
        display: block; /* Los elementos se muestran en bloque (uno bajo otro) */
        width: 100%;
    }

    .menu > li > a {
        padding: 15px;
        width: 100%;
        display: block;
        border-bottom: 1px solid #4CAF50;
    }

    .menu-toggle {
        display: block;
        background: #4CAF50;
        color: white;
        padding: 15px;
        cursor: pointer;
        text-align: center;
        width: 100%;
        border: none;
    }

    .menu-toggle:focus {
        outline: none;
    }

    .menu.active {
        display: block; /* Muestra el menú cuando el botón de menú es activado */
    }

    .dropdown {
        position: static; /* Para que los submenús sean fluidos */
        box-shadow: none;
    }
}
